<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <link rel="home" type=".css.css" href="home.css">
  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
	<img id="logo" src="https://www.google.com/images/srpr/logo11w.png"/>
	<div>
		<input id="search" action=”#” method=”POST” type="text">
		<input id="voice" action="#" method="POST" type="image" src="data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=">
	</div>
	<div>
		<ul class="button">
			<li class="box"><input class="forms"type="submit" value="Google Search"></li>
			<li class="box"><a href="http://www.google.com/culturalinstitute/project/art-project"><input class="forms" type="submit" value="I'm Feeling Lucky"></a></li>
	</div>
</div> 

</body>
</html>