<div class="content">
	<img src="https://www.google.com/images/srpr/logo11w.png">
	<div id="search">
	</div>
	<div class="button">
		<ul>
			<li class="buttons">Google Search</li>
			<li class="buttons"><a href="https://www.google.com/images/srpr/logo11w.png">I'm Feeling Lucky</a></li>
	</div>
	<div class="footer">
		<ul>
			<li class="link"><a class = "nav-link" href="http://www.google.com/intl/en/ads/">Advertising</a></li>
			<li class="link"><a class = "nav-link" href="https://www.google.com/services/">Business</a></li>
			<li class="link"><a class = "nav-link" href="https://www.google.com/intl/en/about/">About</a></li>
			<div id="right-links">
				<li class="link"><a class="nav-link" href="https://www.google.com/intl/en/policies/">Privacy & Terms</a></li>
				<li class="link"><a class="nav-link" href="https://www.google.com/preferences">Settings</a></li>

	</div>

</div> 