<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <link rel="home" type=".css.css" href="home.css">
  <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
	<img id="logo"src="https://www.google.com/images/srpr/logo11w.png">
	<div>
		<input id="search" action=”#” method=”POST” type="text"> </form>
	</div>
	<div>
		<ul class="button">
			<li><input class="box" type="submit" value="Google Search"></li>
			<li><a href="http://www.google.com/culturalinstitute/project/art-project"><input class="box" type="submit" value="I'm Feeling Lucky"></a></li>
	</div>
</div> 

</body>
</html>