<div class="content">
	<img src="https://www.google.com/images/srpr/logo11w.png">
	<div id="search">
		<form action=”#” method=”POST”> </form>
		<label></label> <input type="text">
	</div>
	<div class="button">
		<ul>
			<li class="buttons">Google Search</li>
			<li class="buttons"><a href="http://www.google.com/culturalinstitute/project/art-project">I'm Feeling Lucky</a></li>
	</div>


</div> 