/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

//Navigation bar

.nav-bar{
	position: fixed;
	width: 100%;
	height: 60px;
	padding-right: 30px;
	padding-top:none;
	margin:none;
}

.nav{
	float: right;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.nav li{
	padding-left: 15px;
	margin: 0px;
	display: inline;
}

#share{
	background-color: #f5f5f5;
	border: none;
    font-weight: bold;
    font-size:13px;
    line-height: 27px;
    padding-top:none;
    padding-bottom: none;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    margin-left:8px;
    margin-top: 16px;
    margin-bottom: 16px;
    width:60px;
    height:30px;
}

.link{
	text-decoration:none;
	color: #666;
	font-family:arial,sans-serif;
	font-size: 13px;
	margin:none;
	padding:none;
;
}

//footer

.footer{
	width: 100%;
	position: absolute;
	bottom:0px;
	left:0px;
	border-top:1px solid #e4e4e4;
	background-color: #f2f2f2;
	height: 40px;
	margin: none;
	padding: none;
}

.elements{
	float:left;
	padding-left:27px;
	display: inline;
	font-size: 13px;
	color: #666666;
}

#left-links{
	float:left;
	position:absolute;
	left:0px;
	bottom:16px;
}

#right-links{
	position:absolute;
	float:right;
	right:0px;
	bottom:16px;
	padding-right:30px;
}