/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.nav-bar{
	position: fixed;
	width: 100%;
	height: 60px;
	padding: none;
	margin: none;
	font-family: arial, sans-serif;
	font-size: small;
}

.nav{
	float: right;
	padding: none;
	margin: none;
}

ul{
	list-style-type: none;
}

.nav li{
	padding-top: none;
	display: inline;
}
.nav a{
	padding-top:none;
	text-decoration: none;
	color:#404040;
}

.nav-link{
	list-style-type: none;
	text-align: right;
	padding:none;
	height: 60px;
}


.footer{
	width: 100%;
	position: absolute;
	bottom:0;
	border-top:1px solid #e4e4e4;
	background-color: #f2f2f2;
	font-size:small;
	line-height:40px;
}

.footer li{
	display:inline;
}

.footer a{
	text-decoration: none;
	color: #404040;
}

.link{
	color:#666;
	padding-left:27px;
}

#advert{
	margin-left:0px;
}

#left-links{
	float: left;
	padding-left:none;
	margin-left:none;
}

#right-links{
	padding-right:4px;
	margin-right:4px;
	float:right;
}








