// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content{
	position: relative;
	width: 1247px;
	height:300px;
	margin: auto;
	font-size: small;
	text-align: center;
	font: bold;
	font-size:11px; 
	font-family:Arial,sans-serif;
}

img{
	height: 200px;
	width: 687px;
}

#search{
	height: 28px;
	width: 570px;
	padding: none;
}

.link{
	text-decoration: none;
}

.button{
	display:inline;
}
.button a{
	text-decoration: none;
}

.buttons{
	display:inline;
	border-width: 1px;
}

.nav-link{
	padding: 5px;
}

li {
	list-style-type: none;
}