// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content{
	position: relative;
	width: 1247px;
	height:300px;
	margin: auto;
	font-size: small;
	text-align: center;
	font: bold;
	font-size:11px;
	font-weight: bold;
	font-family:Arial,sans-serif;
}

img{
	height: 125px;
	width: 500px;
}

#search{
	height: 28px;
	width: 570px;
	padding: none;
}

.button a{
	text-decoration: none;
}

.box{
	display:inline;
	vertical-align: top;
	background-color: #f5f5f5;
	border: 1px solid #c6c6c6;
    line-height: 29px;
    font-weight: bold;

}

li {
	list-style-type: none;
}