<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<ul class="nav">
		<li> <a class="link" href="https://plus.google.com">+Brad</a></li>
		<li> <a class="link" href="https://gmail.com">Gmail</a></li>
		<li> <a class="link" href="http://www.google.com/imghp">Images</a></li>
		<li> <a class="link" href="http://www.google.com/intl/en/options/"><img src="#{Rails.root/public/images/more.png}" alt="More"></a></li>
		<li> <a class="link" href="https://plus.google.com/u/0/notifications/all?hl=en">Notifications</a></li>
		<li> <a class="link" href="https://plus.google.com/u/0/stream/all?hl=en">Share</a></li>
	</ul>
</div>


<%= yield %>


<div class="footer">
		<ul class="footer-elements">
			<div id="left-links">
				<li class="elements"><a class="link" href="http://www.google.com/intl/en/ads/">Advertising</a></li>
				<li class="elements"><a class="link" href="https://www.google.com/services/">Business</a></li>
				<li class="elements"><a class="link" href="https://www.google.com/intl/en/about/">About</a></li>
			</div>
			<div id="right-links">
				<li class="elements"><a class="link" href="https://www.google.com/intl/en/policies/">Privacy & Terms</a></li>
				<li class="elements"><a class="link" href="https://www.google.com/preferences">Settings</a></li>
		</ul>
</div>

</body>
</html>