<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<ul class="nav">
		<li> <a class="nav-link" href="https://plus.google.com"> GooglePlus </a></li>
		<li> <a class="nav-link" href="https://gmail.com">Gmail</a></li>
		<li> <a class="nav-link" href="http://www.google.com/imghp">Images </a></li>
		<li>More</li>
		<li>Notifications</li>
		<li>Share</li>
	</ul>
</div>


<%= yield %>

</body>
</html>
