<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<ul class="nav">
		<li class="nav-link"> <a href="https://plus.google.com">+Brad</a></li>
		<li class="nav-link"> <a href="https://gmail.com">Gmail</a></li>
		<li class="nav-link"> <a href="http://www.google.com/imghp">Images </a></li>
		<li class="nav-link">More</li>
		<li class="nav-link">Notifications</li>
		<li class="nav-link">Share</li>
	</ul>
</div>


<%= yield %>

</body>
</html>
